#head
	#logo 
		Kev<b>i</b>tz
		%p Make pretty things.

	%form#search-form{method: 'get', action: ''}
		%input#sf-term{type: 'text', name: 'term', placeholder: 'Enter artist name...'}
		%button#sf-submit.fa.fa-search{type: 'submit'} 
		
#grid
	- 64.times do
		.grid-cell

%button#buy{type: 'button'} Buy!