#logo 
  Kev<b>i</b>tz
  %p Pretty pretty things.
#head
  %form#search-form{method: 'get', action: ''}
    %input#sf-term.typeahead{type: 'text', name: 'term', placeholder: 'Enter album name...'}
    %button#sf-submit.fa.fa-search{type: 'submit'} 
    %button#buy.fa.fa-credit-card{type: 'button'}
#grid
  - 64.times do
    .grid-cell
      .grid-cell-remove
        %span.fa.fa-trash-o
