$cell-size: 80px;

@import "search";

body {
	min-width: 760px;
	font-family: lato;
}

input,
button {
	font-family: lato;

	&:focus {
		outline: none;
	}
}

#head {
	margin: 10px auto;
  width: 640px;
}

#logo {
	display: inline-block;
	margin: 0 30px 0 16px;
	vertical-align: middle;
	font-size: 60px;
	letter-spacing: -3px;
	font-weight: 600;
	color: #333;

	b {
		color: #f00;
		font-weight: 300;
	}
	p {
		font-size: 12px;
		letter-spacing: 3px;
	}
}

#grid {
	clear: both;
	margin: 0 auto 60px;
	width: 680px;
	text-align: center;
	font-size: 0;
	overflow: hidden;
}

.grid-cell {
	display: inline-block;
	width: $cell-size;
	height: $cell-size;
	outline: 1px solid #ccc;
	background-color: #fafafa;
	background-color: #aaa;
	overflow: hidden;
}

.grid-cell-remove {
	margin-top: -$cell-size;
	width: 100%;
	height: 100%;
	line-height: $cell-size;
	font-size: 40px;
	color: #f00;
	background-color: #fff;
	cursor: pointer;

	.grid-cell.occupied:hover & {
		margin-top: 0;
	}

	transition: margin-top .2s;
}

.grid-cell-image {
	margin-top: -$cell-size;
	opacity: 0;

	&.fall {
		margin-top: 0;
		opacity: 1;
	}

	transition: all .4s;
}
