$cell-size: 80px;

body {
	min-width: 760px;
	font-family: lato;
}

input,
button {
	font-family: lato;

	&:focus {
		outline: none;
	}
}

#head {
	margin: 10px auto;
  width: 640px;
}

#logo {
	display: inline-block;
	margin: 0 30px 0 16px;
	vertical-align: middle;
	font-size: 60px;
	letter-spacing: -3px;
	font-weight: 600;
	color: #333;

	b {
		color: #f00;
		font-weight: 300;
	}
	p {
		font-size: 12px;
		letter-spacing: 3px;
	}
}

#search-form {
	display: inline-block;
  padding: 9px 14px 0 0;
	vertical-align: middle;
	font-size: 0;
}

.tt-input {
  vertical-align: inherit !important;
}
#sf-term {
  width: 396px;
  height: 30px;
  padding: 12px 28px 16px;
  margin-right: 2px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #ccc;
  outline: none;
	/*margin: 0;*/
	/*width: 170px;*/
	/*border: none;*/
	/*box-shadow: none;*/
	/*background: #fafafa;*/
	/*font-size: 20px;*/
	/*color: #333;*/

	/*&:focus {*/
		/*width: 250px;*/
		/*outline: none;*/
	/*}*/

	/*transition: width .2s;*/
}

#sf-submit {
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	border: none;
	line-height: 60px;
	background-color: #2c3e50;
	font-size: 20px;
	color: #fff;
	cursor: pointer;

	&:hover {
		background-color: #1c2e40;
	}

	transition: background-color .2s;

	.fa-search {
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

#buy {
	margin: 0;
	padding: 0;
	width: 60px;
	height: 60px;
	border: none;
	line-height: 60px;
	background-color: #f00;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	.fa-credit-card {
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}

#grid {
	clear: both;
	margin: 0 auto 60px;
	width: 680px;
	text-align: center;
	font-size: 0;
	overflow: hidden;
}

.grid-cell {
	display: inline-block;
	width: $cell-size;
	height: $cell-size;
	outline: 1px solid #ccc;
	background-color: #fafafa;
	background-color: #aaa;
	overflow: hidden;
}

.grid-cell-remove {
	margin-top: -$cell-size;
	width: 100%;
	height: 100%;
	line-height: $cell-size;
	font-size: 40px;
	color: #f00;
	background-color: #fff;
	cursor: pointer;

	.grid-cell.occupied:hover & {
		margin-top: 0;
	}

	transition: margin-top .2s;
}

.grid-cell-image {
	margin-top: -$cell-size;
	opacity: 0;

	&.fall {
		margin-top: 0;
		opacity: 1;
	}

	transition: all .4s;
}
